<div style="padding:1rem;width: 100vw;height: 100vh;display: flex;align-items: center;justify-content: center;">
  <div style="width:100%">
    <button id="btnlogin" class="btn-app mobile-hide" type="button" (click)="goToThaiD()">
      <img src="./assets/thaid.png" alt="" height="30"> &nbsp; ThaID
    </button>
    <br>
    <button id="btnlogin" class="btn-app mobile-hide" type="button" (click)="goToMyMOPH()">
      <img src="./assets/mymoph.png" alt="" height="30"> &nbsp; MyMOPH
    </button>
  </div>
</div>
