<div class="row" style="padding-left: 0.5rem;padding-right: 0.5rem;padding-top: 1rem;margin: 0;">
  <div class="col-6 col-md-2" *ngFor="let i of list">
    <div class="card" style="width: 100%">
      <img class="card-img-top" [src]="i.image" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <p class="card-text" *ngIf="i.desc">{{i.desc}}</p>
        <div class="d-grid gap-2">
            <button [disabled]="candidateId==i.id || isSave" class="btn btn-primary" type="button"  (click)="vote(i)">Vote</button>
          </div>
      </div>
    </div>
  </div>
</div>
...